body{
    background-color: #757575;
}
h3{
    text-align: center;
}
.material-container{
    background-color: #0288D1;
    width: 50%;
    min-height: 80%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    padding-top: 0;
    border-radius: 5%;
}
.add-btn{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
    background-color: #757575;
    height: 50px;
    width: 50px;
    color: #FAFAFA;
    font-size: 40px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.font-center{
    padding-top: 5px;
}
.materials-title{
    position: fixed;
    top: 0;
    color: white;
    width: 100%;
    background-color: #616161;
    margin: 0;
    pointer-events: none;
    border-style: none none dotted none;
    border-color: black;
    border-radius: 0%,0%, 5%,5%;
}
.shadow-text{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: bolder;
    opacity: 0.5;
    pointer-events: none;
}
.table-content{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    min-height: 90%;
    width: 400px;
    padding: 10px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    z-index: 3;
    border-style: solid;
    border-color: black;
    border-radius: 15px 15px 15px 15px;
    overflow:hidden
}
.bot-table{
    top: 0;
    width: 100%;
    background-color: white;
    height: 100%;
    position: fixed;
}
.inputs{
    width: 100%;
    text-align: center;
    margin: 0;
    padding-top: 5px;
    border-style: none none solid none;
    border-width: thin;
    border-color: #E0E0E0; 
}
select, option {
    text-align: center;   
}
label{
    display: block;
    position: relative;
    font-weight: bold;
    outline:0;
    text-align: center;
    font-size: 14px;
    margin: 0 auto;
}
input[type=number], input[type=text], select {
    width: 90%;
    padding: 5px 5px;
    margin: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    
}
button{
    width: 70px;
    height: 27px;
    border-radius: 20%;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.x1, .x2, .x3{
    display: none;
    width: 100%;
    height: 44px;
}
.m1{
    background-color: #4CAF50;
}
.m2{
    background-color: #0288D1;
}
.m1, .m2{
    text-align: center;
    width: 80px;
    border-radius: 17%;
}
#x1, #x2, #x3{
    width: 135px;
}
.price{
    display: none;
    width: 100%;
    height: 50px;
}
.metric{
    width: auto;
    display: inline-block;
}
.currency{
    font-size: 20px;
}
.arrays-table{
    border-collapse: collapse;
}
.auxinch{
    border-style: none !important;
    cursor: default;
}
.inputs table{
    position: fixed;
    margin: 0px 20px;
}
input[type=number]#price{
    width: 65%;
}
.grey{
    background-color: lightgray;
}
input#price::-webkit-input-placeholder {
    font-size: 8px;
}
#weight, #totalQ{
    font-size: 15px;
    font-weight: bold;
    width: 70px;
    margin-left: 10px;
    text-align:right;
}
#weight, #aggragate{
    width: 66px;
}
.quant{
    display: none;
    margin-top: 12px;
    border-top-style: solid;
}
#quantity{
    width: 50px;
}
.actionBtns{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: fixed;
    margin: 15px;
    font-size: 25px;
}
#cancel{
    background-color: red;
    bottom: 0;
    left: 0;
}
#submit{
    background-color: #4CAF50;
    bottom: 0;
    right: 0;
    
}
.buttonToggle1:active, .buttonToggle2:active , .active {
    background-color:blue;
}
.m1 label, .m2 label{
    font-weight: 100;
}
#aggregate{
    width: 40px;
}
#cutTable{
    height: 60px;
}
#cutTable table{
    width: 100%;
    height: 36px;
}
#cutQ{
    display: none;
}
#cut{
    width: 74px;
}
#cutTable tr{
    width: 100%;
}
#cutTable td{
    width: 50%;
    text-align: center;
    margin-top: 5px;
}
.lblprice{
    display: inline; 
}
