body{
    background-color: #757575;
}
h3{
    text-align: center;
}
.material-container{
    background-color: #0288D1;
    width: 50%;
    min-height: 80%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    padding-top: 0;
    border-radius: 5%;
}
.add-btn{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
    background-color: #757575;
    height: 50px;
    width: 50px;
    color: #FAFAFA;
    font-size: 40px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.font-center{
    padding-top: 5px;
}
.materials-title{
    position: fixed;
    top: 0;
    color: white;
    width: 100%;
    background-color: #616161;
    margin: 0;
    pointer-events: none;
    border-style: none none dotted none;
    border-color: black;
    border-radius: 0%,0%, 5%,5%;
}
.shadow-text{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: bolder;
    opacity: 0.5;
    pointer-events: none;
}
.table-content{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    min-height: 80%;
    width: 400px;
    padding: 10px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    z-index: 3;
    border-style: solid;
    border-color: black;
    border-radius: 15px 15px 15px 15px;
    overflow:hidden
}
.bot-table{
    top: 0;
    width: 100%;
    background-color: white;
    height: 100%;
    position: fixed;
}
.inputs{
    width: 100%;
    text-align: center;
    margin: 0;
    padding-top: 5px;
}
select, option {
    text-align: center;   
}
label{
    display: block;
    position: relative;
    font-weight: bold;
    outline:0;
    text-align: center;
}
input[type=number], input[type=text], select {
    width: 90%;
    padding: 5px 5px;
    margin: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    
}
button{
    width: 70px;
    height: 27px;
    border-radius: 20%;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.x1, .x2, .x3{
    display: none;
    width: 100%;
    height: 60px;
}
.price{
    display: none;
    width: 100%;
    height: 60px;
}
.metric{
    width: auto;
    display: inline-block;
}
.currency{
    font-size: 20px;
}
.arrays-table{
    border-collapse: collapse;
}
.auxinch{
    border-style: none !important;
    cursor: default;
}
.inputs table{
    position: fixed;
    margin: 0px 20px;
}
input[type=number]#price{
    width: 65%;
}
.grey{
    background-color: lightgray;
}
#currencyLbl{
    font-size: 12px;
}
#weight, #totalQ{
    font-size: 15px;
    font-weight: bold;
}
.quant{
    display: none;
}
#quantity{
    width: 50px;
}