body{
    background-color: #757575;
}
.material-container{
    background-color: #0288D1;
    width: 50%;
    min-height: 80%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}
.add-btn{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
    background-color: #757575;
    height: 50px;
    width: 50px;
    color: #FAFAFA;
    font-size: 40px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}
