.heading{
     height: 20%;
     background-color: yellow;
}
.nav-menu ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: lightgray;
}
.nav-menu li{
        float: left;
}
.nav-menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
.nav-menu li :hover{
    background-color: black;
}